/* 
   Global Styles directory file - compacts all major CSS files into one easy directory
   Version 1.5
   Coded 12-15-09
   Last Updated 12-18-09
*/


/* +PULL ALL MAJOR SCREEN
--------------------------------------------------------------------> */

/* Internal */
@import 'sstyles.css' screen;

/* External */
@import 'colorbox.css' screen;
@import 'dataTable_jui.css' screen;
@import 'jquery-ui-1.7.2.custom.css' screen;


/* ALWAYS-PRESENT-NO-MATTA-WHAT
--------------------------------------------------------------------> */


* { /* Kill all padding & margins on every element */
 padding: 0;
 margin: 0;
}

ul { /* Default lists to allow us to add our own bullets manually  */
 list-style-type: none;
}

img, a img, a img:hover { /* Prevents border defaults on img */
 border: 0;
 outline: none;
}

a, a:link, a:visited, a:hover, a:active { /* Remove every link outline on click */
 outline: none;
 text-decoration: none;
}
