body {
	background: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 0 20px;
}

.cal {
	vertical-align: middle;
}

select {
	font-size: 12px;
}

fieldset {
	border: 1px solid #666666;
	margin-bottom: 10px;
}

table { border-collapse: collapse; }

#content {
	border-right: 3px solid #222222;
	border-left: 3px solid #222222;
	border-bottom: 3px solid #222222;
	margin: 0 auto;
	max-width: 1200px;
	background-color: white;
}

#header {
	padding: 0 11px;
	margin: 0;
	height: 87px;
}

#logo {
	margin: 0;
	padding: 12px 0 0 0;
	float: left;
}

#loginbox {
	padding-right: 7px;
	margin: 10px;
	text-align: right;
	float: right;
}

#loginbox label {
	font-size: 11px;
}

#loginbox input {
	font-size: 11px;
	width: 100px;
}

#loginbox .bordered {
	border: 1px solid #dddddd;
}

#login_status {
	color: red;
	font-size: 11px;
	margin-right: 10px;
}

.error {
	color: red;
}

#login_legal {font-size: 10px;}

#topnav {
	height: 30px;
	margin: 0;
	padding: 0;
	background-image: url('../Images/topnav.jpg');
	border-bottom: 1px solid black;
	border-top: 1px solid #333333;
	clear: both;
}
/*
#topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 30px;
}

#topnav li {
	display: inline;
	margin: 0;
	padding: 0;
	height: 30px;
}

#topnav a {
	padding-top: 6px;
	float: left;
	display: block;
	margin: 0;
	text-decoration: none;
	border-right: 1px solid #333333;
	width: 120px;
	color: white;
	text-align: center;
	font-size: 1.2em;
	height: 24px;
}

#topnav a:hover {
	background-image: url('../Images/topnavover.jpg');
	background-repeat: repeat-x;
	text-decoration: none;
}

#topnav .navsel {
	background-image: url('../Images/topnavhl.jpg');
	background-repeat: repeat-x;
	text-decoration: none;
}
*/

#pagelabel {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    background: url('../Images/subnavbg.png') repeat-x;
    height: 25px;
}

thead.items {
	border-bottom: 1px solid #444444;
}

tr.row_item { 
	background: #ebecff;
	border-right: 1px solid #444444;
	border-left: 1px solid #444444;
	border-bottom: 1px dashed #444444;
}

.edit {
    width: 65px;
    padding-right: 10px;
}

.edit_item {
	cursor: pointer;
	text-decoration: underline;
}

.edit_item:hover { color: #ff8800; }

tr.odd { background: #ebecff; }
tr.even { background: transparent; }

.col {
    width: 200px;
	padding: 5px;
}

div.expandable {
	display: none;
	padding: 10px;
	border-right: 1px dashed #ebecff;
	border-left: 1px dashed #ebecff;
	border-bottom: 1px solid #444444;
	background: #444444;
	color: #ebecff;
}


.leftalign { text-align: left; }
.rightalign { text-align: right; }
.centeralign { text-align: center; }

.subheading {
	font-size: 18px;
}

.input_button {
	width: 75px;
}

div.popup {
    display: none;
}
div.popupinner {
    background: #e1ecf2;
    padding: 20px;
    border: 1px dashed #888888;
    color: #444;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

div.popupinner span.subheading {
    border-bottom: 1px solid #888;
}

div.popupinner input {
    margin-right: 5px;
}

#reset {
	clear: both;
}

#main {
	padding: 10px 29px;
	min-height: 400px;
}

#main img {
	vertical-align: middle;
}

.filter { border: 1px solid #aaa; }

.filterItem {
    padding-top: 10px;
    width: 100%;
}

.filterlabel {
    display: inline;
    font-weight: bold;
    width: 200px;
}

.filterItemLeft {
    float: left;
    width: 80%;
}

.filterItemRight {
    width: 15%;
    float: right;
    text-align: right;
}
.filterItemBottom {
    border-bottom: 1px dashed silver;
    clear: both;
    height: 10px;
}

.notice {
    color: blue;
    font-weight: bold;
}

#chart {
    width: 480px;
    float: left;
    border: 1px solid #444444;
    height: 300px;
}

.userdata { margin: 10px 10px 0 10px; }
.actioninfo td { text-align: center; }

.statusok {
	background: #8bda8a;
	border: 1px solid #31aa2b;
	padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.statuserror {
    background: #e6737d;
    border: 1px solid #c3100b;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

#footer {
	color: white;
	font-size: 11px;
	text-align: center;
	width: 100%;
	margin:0 auto;
	padding-top: 15px;
}