/* 
   Global Layout/Content/Link Styles 
   For Standards Compliance Use 
   Version 2.0
   Coded 12-15-09
   Last Updated 12-15-09
*/


/* +GLOBAL =LAYOUT --> Manages all major structural elements, uncluding top-level divs
--------------------------------------------------------------------> */


#m_megawrap { /* (Site Container) */
 width: 950px;
 text-align: left;
 /* Safe & Easy center positioning - works with just about every browser in existence */
 position: relative;
 left: 50%;
 margin-left: -475px;
}

#m_headwrap {
 width: 950px;
 height: 125px;
 background: url(../Images/m_headback.jpg) no-repeat top left;
 font-family: Georgia, "Times New Roman", Times, serif;
}

#m_bodywrap {
 width: 930px;
 background: url(../Images/m_bodyback.png) repeat-y center;
 padding: 0px 10px 10px 10px;
 min-height: 350px;
 clear: both;
}

#m_contentwrap {
 font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
 padding: 10px;
 font-size: 12px;
}

#m_footwrap {
 position: relative;
 font-family: Georgia, "Times New Roman", Times, serif;
 clear: both;
 height: 36px;
 padding: 0px 0px 0px 0px;
 width: 950px;
 background: url(../Images/m_footback.png) no-repeat top center;
}

body {
 font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
 color: #000;
 border: 0;
 background: url(../Images/m_megaback.jpg) repeat-x top left #375b7a;
}

h1, h2, h3, h4, h5, h6 {
 font-size: 16px;
 padding: 10px 0px 10px 0px;
 color: #0d3e5e;
}

fieldset {
 border: 1px solid #666666;
 margin-bottom: 10px;
 padding: 10px;
}

legend {
 padding: 0 5px;
}

input {
 margin: 2px;
}

label {
 margin: 0 2px;
}

p {
 margin: 5px 0;
}

/* +USER =NAVIGATION --> Controls top-level menu items, ect.
--------------------------------------------------------------------> */

#m_logwrap {
 display: block;
 position: absolute;
 top: 0px;
 right: 0px;
 z-index: 99;
 height: 35px;
 background: url(../Images/m_userback_l.gif) no-repeat top left;
 padding: 0px 0px 0px 30px;
 float: right;
 color: #fff;
 font-size: 12px;
}

#m_logwrap form {
 display: block;
 height: 35px;
 float: left;
}

#m_logwrap form fieldset {
 height: 35px;
 background: url(../Images/m_userback_r.gif) no-repeat top right;
 padding: 0px 20px 0px 0px;
 float: left;
 border: none;
 display: block;
}

#m_logwrap ul {
 display: block;
 height: 32px;
 float: left;
 padding: 3px 0px 0px 0px;
}

#m_logwrap ul li {
 display: block;
 height: 20px;
 float: left;
 padding: 0px 0px 0px 10px;
}

#m_logwrap form ul li input#subbtn {
 cursor: pointer;
}

#m_logwrap form ul li.text {
 padding: 4px 0px 0px 10px;
}

#m_logwrap form ul li.text input {
 border: 1px solid #333;
}

#m_logwrap form ul li.text input:hover,
#m_logwrap form ul li.text input:focus {
 border: 1px solid #ff9900;
}

#m_logwrap #login_status {
 padding: 5px 15px 0px 15px;
 height: 17px;
 font-weight: bold;
 border-right: 1px dashed #046695;
 margin: 0px 5px 0px 0px;
}

#m_logwrap ul#m_logmenu #login_status {
 padding: 5px 15px 0px 15px;
 height: 17px;
 font-weight: bold;
 border-right: 1px dashed #046695;
 margin: 0px 5px 0px 0px;
}

#m_logwrap #login_status span {
 color: #ff9900;
}

#m_logwrap li.nolog {
 color: #ff9900;
}

#m_logwrap li.error {
 color: #ff0000;
}

#m_logwrap ul#m_logmenu {
 height: 30px;
 background: url(../Images/m_userback_r.gif) no-repeat top right;
 padding: 5px 20px 0px 0px;
}

#m_logwrap ul#m_logmenu li {
 padding: 0px 8px 0px 8px;
 border-right: 1px dashed #046695;
}

#m_logwrap ul#m_logmenu li a {
 display: block;
 float: left;
 font-size: 14px;
 height: 20px;
 padding: 2px 5px 0px 5px;
 color: #fff;
}

#m_logwrap ul#m_logmenu li a:hover {
 color: #ff9900;
 border-bottom: 1px dashed #ff9900;
}



/* +NAVIGATION =LAYOUT --> Controls top-level menu items, ect.
--------------------------------------------------------------------> */

ul#m_navwrap {
 width: 940px;
 height: 43px;
 display: block;
 padding: 10px 0px 0px 10px;
 background: url(../Images/m_navback.jpg) no-repeat top left;
 font-family: Georgia, "Times New Roman", Times, serif;
}

ul#m_navwrap li {
 height: 19px;
 float: left;
 padding: 1px 12px 0px 12px;
 display: block;
 border-right: 1px solid #fff;
}

ul#m_navwrap li a {
 float: left;
 display: block;
 font-size: 17px;
 padding: 6px 0px 0px 3px;
 font-weight: normal;
 color: #fff;
 margin: -6px 0px 0px 0px;
}

ul#m_navwrap li.last {
 border-right: none;
} 


a {
m font-size: 14px;
 color: #000;
}

a:link {
 color: #000;
}

a:visited {
 color: #000;
}

a:hover {
 color: #666;
}

a:active {
 color: #000;
}



/* +NAVIGATION =ROLLOVER --> Explains itself
--------------------------------------------------------------------> */

ul#m_navwrap li a:hover {
 color: #ffae00;
 border-bottom: 1px dotted #ffae00;
}


/* +NAVIGATION =CURRENT --> Controls current page placements
--------------------------------------------------------------------> */

#index li#home a, 
#purchase li#purc a, 
#resources li#reso a, 
#contact li#cont a {
 color: #ffae00;
 border-bottom: 1px dotted #ffae00;
}

/* Seperate styles for the footer - yellow doesn't look so good on grey. */
#index #m_footwrap li#home a, 
#purchase #m_footwrap li#purc a, 
#resources #m_footwrap li#reso a, 
#contact #m_footwrap li#cont a {
 color: #295a79;
 border-bottom: 1px dotted #295a79;
}


/* +GLOBAL =CONTENT --> Controls globally appearing content - if the ID or class appears on more than one page, it's here
--------------------------------------------------------------------> */

#m_headwrap h1 {
 display: block;
 padding: 55px 0px 0px 20px;
}

#m_headwrap h1 a {
 font-size: 66px;
 text-shadow: 2px 2px 2px #fff; /* Not working! Maybe another issue with Cufon? */
}

#m_footwrap ul {
 text-align:center;
 height: 28px;
 padding: 8px 0px 0px 0px;
 position: relative;
 display: block;
}

#m_footwrap ul li {
 display: inline;
 padding: 0px 14px 4px 14px;
 border-right: 1px dashed #ccc;
 font-size: 14px;
}

#m_footwrap ul li.last {
 border: none;
}

#m_contentwrap p {
 font-size: 14px;
}

#statusmsg {
 padding: 10px;
 display: none;
}

/* Tweaks */
.dataTables_info { padding-top: 0; }
.dataTables_paginate { padding-top: 0; }
.dataTables_wrapper table { font-size: 14px; width: 100%; border-collapse: collapse; }
.dataTables_wrapper table th { text-align: center; }
.dataTables_wrapper table td { border: 1px solid #ccc; }
.css_right { float: right; }
.highlighted { color: blue; cursor: pointer; }
#qresults .fg-toolbar { font-size: 0.8em }
#theme_links span { float: left; padding: 2px 10px; }
tr.actioninfo td { text-align: center; }

td { padding: 3px; }

.filter { border: 1px solid #aaa; }

.filterItem {
    padding-top: 10px;
    width: 100%;
}

.filterlabel {
    display: inline;
    font-weight: bold;
    width: 200px;
}

.filterItemLeft {
    float: left;
    width: 80%;
}

.filterItemRight {
    width: 15%;
    float: right;
    text-align: right;
}
.filterItemBottom {
    border-bottom: 1px dashed silver;
    clear: both;
    height: 10px;
}

.notice {
    color: blue;
    font-weight: bold;
}

#filter_search {
	margin-top: 5px;
}

.input_button {
    width: 55px;
    border: 1px solid #cacbc1;
    background: #dfe0d4 url(../Images/jquery-ui-custom/ui-bg_glass_75_dfe0d4_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #002e46;
    outline: none;
    padding: 2px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.input_button:hover {
    border: 1px solid #999999;
    background: #a9ab96 url(../Images/jquery-ui-custom/ui-bg_glass_75_a9ab96_1x400.png) 50% 50% repeat-x;
    color: #ffffff;
}



/* +ERROR =LAYOUT 
--------------------------------------------------------------------> */


/* +ERROR =CONTENT 
--------------------------------------------------------------------> */
