          <div class="post">
                <h2>Welcome to photon</h2>
                <div class="entry">
                    <p>This is <strong>photon</strong>, a lightweight, extensible PHP framework employing MongoDB
                    for its backend data source. Its aim is to provide a starting point for easily developing
                    fully customizable web applications built to harness the speed and flexibility of PHP and
                    MongoDB.</p>
                    <p>The navigation links above are temporary until ACLs and menu-building are finalized.</p>
                </div>
          </div>