{literal}
<style type="text/css">
.installform label {
	display: block;
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 10px;
}
.installform {
	line-height: 2em;
}
</style>
{/literal}
<div class="installform">
<form action="?" method="post" enctype="multipart/form-data">
<h3>Database Connection Info</h3>
<label>Database Name:</label> <input type="text" name="dbname" value="{$data.dbname}" /><br />
<label>Username:</label> <input type="text" name="dbuser" value="{$data.dbuser}" /><br />
<label>Password:</label> <input type="password" name="dbpass" value="{$data.dbpass}"/>

<h3>Initial User</h3>
<label>First Name:</label> <input type="text" name="FirstName" value="{$data.FirstName}"/><br />
<label>Last Name:</label> <input type="text" name="LastName" value="{$data.LastName}"/><br />
<label>Username:</label> <input type="text" name="Username" value="{$data.Username}"/><br />
<label>Password:</label> <input type="password" name="Password" value="{$data.Password}" /><br />
<label>Confirm:</label> <input type="password" name="confirm" value="{$data.confirm}"/>

<h3>Timezone</h3>
<label>Timezone:</label>
<select name="TZ">
<option value="Africa/Abidjan" {if $data.TZ == "Africa/Abidjan"} selected="selected" {/if}>Africa/Abidjan</option>
<option value="Africa/Accra" {if $data.TZ == "Africa/Accra"} selected="selected" {/if}>Africa/Accra</option>
<option value="Africa/Addis_Ababa" {if $data.TZ == "Africa/Addis_Ababa"} selected="selected" {/if}>Africa/Addis_Ababa</option>
<option value="Africa/Algiers" {if $data.TZ == "Africa/Algiers"} selected="selected" {/if}>Africa/Algiers</option>
<option value="Africa/Asmara" {if $data.TZ == "Africa/Asmara"} selected="selected" {/if}>Africa/Asmara</option>
<option value="Africa/Bamako" {if $data.TZ == "Africa/Bamako"} selected="selected" {/if}>Africa/Bamako</option>
<option value="Africa/Bangui" {if $data.TZ == "Africa/Bangui"} selected="selected" {/if}>Africa/Bangui</option>
<option value="Africa/Banjul" {if $data.TZ == "Africa/Banjul"} selected="selected" {/if}>Africa/Banjul</option>
<option value="Africa/Bissau" {if $data.TZ == "Africa/Bissau"} selected="selected" {/if}>Africa/Bissau</option>
<option value="Africa/Blantyre" {if $data.TZ == "Africa/Blantyre"} selected="selected" {/if}>Africa/Blantyre</option>
<option value="Africa/Brazzaville" {if $data.TZ == "Africa/Brazzaville"} selected="selected" {/if}>Africa/Brazzaville</option>
<option value="Africa/Bujumbura" {if $data.TZ == "Africa/Bujumbura"} selected="selected" {/if}>Africa/Bujumbura</option>
<option value="Africa/Cairo" {if $data.TZ == "Africa/Cairo"} selected="selected" {/if}>Africa/Cairo</option>
<option value="Africa/Casablanca" {if $data.TZ == "Africa/Casablanca"} selected="selected" {/if}>Africa/Casablanca</option>
<option value="Africa/Ceuta" {if $data.TZ == "Africa/Ceuta"} selected="selected" {/if}>Africa/Ceuta</option>
<option value="Africa/Conakry" {if $data.TZ == "Africa/Conakry"} selected="selected" {/if}>Africa/Conakry</option>
<option value="Africa/Dakar" {if $data.TZ == "Africa/Dakar"} selected="selected" {/if}>Africa/Dakar</option>
<option value="Africa/Dar_es_Salaam" {if $data.TZ == "Africa/Dar_es_Salaam"} selected="selected" {/if}>Africa/Dar_es_Salaam</option>
<option value="Africa/Djibouti" {if $data.TZ == "Africa/Djibouti"} selected="selected" {/if}>Africa/Djibouti</option>
<option value="Africa/Douala" {if $data.TZ == "Africa/Douala"} selected="selected" {/if}>Africa/Douala</option>
<option value="Africa/El_Aaiun" {if $data.TZ == "Africa/El_Aaiun"} selected="selected" {/if}>Africa/El_Aaiun</option>
<option value="Africa/Freetown" {if $data.TZ == "Africa/Freetown"} selected="selected" {/if}>Africa/Freetown</option>
<option value="Africa/Gaborone" {if $data.TZ == "Africa/Gaborone"} selected="selected" {/if}>Africa/Gaborone</option>
<option value="Africa/Harare" {if $data.TZ == "Africa/Harare"} selected="selected" {/if}>Africa/Harare</option>
<option value="Africa/Johannesburg" {if $data.TZ == "Africa/Johannesburg"} selected="selected" {/if}>Africa/Johannesburg</option>
<option value="Africa/Kampala" {if $data.TZ == "Africa/Kampala"} selected="selected" {/if}>Africa/Kampala</option>
<option value="Africa/Khartoum" {if $data.TZ == "Africa/Khartoum"} selected="selected" {/if}>Africa/Khartoum</option>
<option value="Africa/Kigali" {if $data.TZ == "Africa/Kigali"} selected="selected" {/if}>Africa/Kigali</option>
<option value="Africa/Kinshasa" {if $data.TZ == "Africa/Kinshasa"} selected="selected" {/if}>Africa/Kinshasa</option>
<option value="Africa/Lagos" {if $data.TZ == "Africa/Lagos"} selected="selected" {/if}>Africa/Lagos</option>
<option value="Africa/Libreville" {if $data.TZ == "Africa/Libreville"} selected="selected" {/if}>Africa/Libreville</option>
<option value="Africa/Lome" {if $data.TZ == "Africa/Lome"} selected="selected" {/if}>Africa/Lome</option>
<option value="Africa/Luanda" {if $data.TZ == "Africa/Luanda"} selected="selected" {/if}>Africa/Luanda</option>
<option value="Africa/Lubumbashi" {if $data.TZ == "Africa/Lubumbashi"} selected="selected" {/if}>Africa/Lubumbashi</option>
<option value="Africa/Lusaka" {if $data.TZ == "Africa/Lusaka"} selected="selected" {/if}>Africa/Lusaka</option>
<option value="Africa/Malabo" {if $data.TZ == "Africa/Malabo"} selected="selected" {/if}>Africa/Malabo</option>
<option value="Africa/Maputo" {if $data.TZ == "Africa/Maputo"} selected="selected" {/if}>Africa/Maputo</option>
<option value="Africa/Maseru" {if $data.TZ == "Africa/Maseru"} selected="selected" {/if}>Africa/Maseru</option>
<option value="Africa/Mbabane" {if $data.TZ == "Africa/Mbabane"} selected="selected" {/if}>Africa/Mbabane</option>
<option value="Africa/Mogadishu" {if $data.TZ == "Africa/Mogadishu"} selected="selected" {/if}>Africa/Mogadishu</option>
<option value="Africa/Monrovia" {if $data.TZ == "Africa/Monrovia"} selected="selected" {/if}>Africa/Monrovia</option>
<option value="Africa/Nairobi" {if $data.TZ == "Africa/Nairobi"} selected="selected" {/if}>Africa/Nairobi</option>
<option value="Africa/Ndjamena" {if $data.TZ == "Africa/Ndjamena"} selected="selected" {/if}>Africa/Ndjamena</option>
<option value="Africa/Niamey" {if $data.TZ == "Africa/Niamey"} selected="selected" {/if}>Africa/Niamey</option>
<option value="Africa/Nouakchott" {if $data.TZ == "Africa/Nouakchott"} selected="selected" {/if}>Africa/Nouakchott</option>
<option value="Africa/Ouagadougou" {if $data.TZ == "Africa/Ouagadougou"} selected="selected" {/if}>Africa/Ouagadougou</option>
<option value="Africa/Porto-Novo" {if $data.TZ == "Africa/Porto-Novo"} selected="selected" {/if}>Africa/Porto-Novo</option>
<option value="Africa/Sao_Tome" {if $data.TZ == "Africa/Sao_Tome"} selected="selected" {/if}>Africa/Sao_Tome</option>
<option value="Africa/Tripoli" {if $data.TZ == "Africa/Tripoli"} selected="selected" {/if}>Africa/Tripoli</option>
<option value="Africa/Tunis" {if $data.TZ == "Africa/Tunis"} selected="selected" {/if}>Africa/Tunis</option>
<option value="Africa/Windhoek" {if $data.TZ == "Africa/Windhoek"} selected="selected" {/if}>Africa/Windhoek</option>
<option value="America/Adak" {if $data.TZ == "America/Adak"} selected="selected" {/if}>America/Adak</option>
<option value="America/Anchorage" {if $data.TZ == "America/Anchorage"} selected="selected" {/if}>America/Anchorage</option>
<option value="America/Anguilla" {if $data.TZ == "America/Anguilla"} selected="selected" {/if}>America/Anguilla</option>
<option value="America/Antigua" {if $data.TZ == "America/Antigua"} selected="selected" {/if}>America/Antigua</option>
<option value="America/Araguaina" {if $data.TZ == "America/Araguaina"} selected="selected" {/if}>America/Araguaina</option>
<option value="America/Argentina/Buenos_Aires" {if $data.TZ == "America/Argentina/Buenos_Aires"} selected="selected" {/if}>America/Argentina/Buenos_Aires</option>
<option value="America/Argentina/Catamarca" {if $data.TZ == "America/Argentina/Catamarca"} selected="selected" {/if}>America/Argentina/Catamarca</option>
<option value="America/Argentina/Cordoba" {if $data.TZ == "America/Argentina/Cordoba"} selected="selected" {/if}>America/Argentina/Cordoba</option>
<option value="America/Argentina/Jujuy" {if $data.TZ == "America/Argentina/Jujuy"} selected="selected" {/if}>America/Argentina/Jujuy</option>
<option value="America/Argentina/La_Rioja" {if $data.TZ == "America/Argentina/La_Rioja"} selected="selected" {/if}>America/Argentina/La_Rioja</option>
<option value="America/Argentina/Mendoza" {if $data.TZ == "America/Argentina/Mendoza"} selected="selected" {/if}>America/Argentina/Mendoza</option>
<option value="America/Argentina/Rio_Gallegos" {if $data.TZ == "America/Argentina/Rio_Gallegos"} selected="selected" {/if}>America/Argentina/Rio_Gallegos</option>
<option value="America/Argentina/Salta" {if $data.TZ == "America/Argentina/Salta"} selected="selected" {/if}>America/Argentina/Salta</option>
<option value="America/Argentina/San_Juan" {if $data.TZ == "America/Argentina/San_Juan"} selected="selected" {/if}>America/Argentina/San_Juan</option>
<option value="America/Argentina/San_Luis" {if $data.TZ == "America/Argentina/San_Luis"} selected="selected" {/if}>America/Argentina/San_Luis</option>
<option value="America/Argentina/Tucuman" {if $data.TZ == "America/Argentina/Tucuman"} selected="selected" {/if}>America/Argentina/Tucuman</option>
<option value="America/Argentina/Ushuaia" {if $data.TZ == "America/Argentina/Ushuaia"} selected="selected" {/if}>America/Argentina/Ushuaia</option>
<option value="America/Aruba" {if $data.TZ == "America/Aruba"} selected="selected" {/if}>America/Aruba</option>
<option value="America/Asuncion" {if $data.TZ == "America/Asuncion"} selected="selected" {/if}>America/Asuncion</option>
<option value="America/Atikokan" {if $data.TZ == "America/Atikokan"} selected="selected" {/if}>America/Atikokan</option>
<option value="America/Bahia" {if $data.TZ == "America/Bahia"} selected="selected" {/if}>America/Bahia</option>
<option value="America/Barbados" {if $data.TZ == "America/Barbados"} selected="selected" {/if}>America/Barbados</option>
<option value="America/Belem" {if $data.TZ == "America/Belem"} selected="selected" {/if}>America/Belem</option>
<option value="America/Belize" {if $data.TZ == "America/Belize"} selected="selected" {/if}>America/Belize</option>
<option value="America/Blanc-Sablon" {if $data.TZ == "America/Blanc-Sablon"} selected="selected" {/if}>America/Blanc-Sablon</option>
<option value="America/Boa_Vista" {if $data.TZ == "America/Boa_Vista"} selected="selected" {/if}>America/Boa_Vista</option>
<option value="America/Bogota" {if $data.TZ == "America/Bogota"} selected="selected" {/if}>America/Bogota</option>
<option value="America/Boise" {if $data.TZ == "America/Boise"} selected="selected" {/if}>America/Boise</option>
<option value="America/Cambridge_Bay" {if $data.TZ == "America/Cambridge_Bay"} selected="selected" {/if}>America/Cambridge_Bay</option>
<option value="America/Campo_Grande" {if $data.TZ == "America/Campo_Grande"} selected="selected" {/if}>America/Campo_Grande</option>
<option value="America/Cancun" {if $data.TZ == "America/Cancun"} selected="selected" {/if}>America/Cancun</option>
<option value="America/Caracas" {if $data.TZ == "America/Caracas"} selected="selected" {/if}>America/Caracas</option>
<option value="America/Cayenne" {if $data.TZ == "America/Cayenne"} selected="selected" {/if}>America/Cayenne</option>
<option value="America/Cayman" {if $data.TZ == "America/Cayman"} selected="selected" {/if}>America/Cayman</option>
<option value="America/Chicago" {if $data.TZ == "America/Chicago"} selected="selected" {/if}>America/Chicago</option>
<option value="America/Chihuahua" {if $data.TZ == "America/Chihuahua"} selected="selected" {/if}>America/Chihuahua</option>
<option value="America/Costa_Rica" {if $data.TZ == "America/Costa_Rica"} selected="selected" {/if}>America/Costa_Rica</option>
<option value="America/Cuiaba" {if $data.TZ == "America/Cuiaba"} selected="selected" {/if}>America/Cuiaba</option>
<option value="America/Curacao" {if $data.TZ == "America/Curacao"} selected="selected" {/if}>America/Curacao</option>
<option value="America/Danmarkshavn" {if $data.TZ == "America/Danmarkshavn"} selected="selected" {/if}>America/Danmarkshavn</option>
<option value="America/Dawson" {if $data.TZ == "America/Dawson"} selected="selected" {/if}>America/Dawson</option>
<option value="America/Dawson_Creek" {if $data.TZ == "America/Dawson_Creek"} selected="selected" {/if}>America/Dawson_Creek</option>
<option value="America/Denver" {if $data.TZ == "America/Denver"} selected="selected" {/if}>America/Denver</option>
<option value="America/Detroit" {if $data.TZ == "America/Detroit"} selected="selected" {/if}>America/Detroit</option>
<option value="America/Dominica" {if $data.TZ == "America/Dominica"} selected="selected" {/if}>America/Dominica</option>
<option value="America/Edmonton" {if $data.TZ == "America/Edmonton"} selected="selected" {/if}>America/Edmonton</option>
<option value="America/Eirunepe" {if $data.TZ == "America/Eirunepe"} selected="selected" {/if}>America/Eirunepe</option>
<option value="America/El_Salvador" {if $data.TZ == "America/El_Salvador"} selected="selected" {/if}>America/El_Salvador</option>
<option value="America/Fortaleza" {if $data.TZ == "America/Fortaleza"} selected="selected" {/if}>America/Fortaleza</option>
<option value="America/Glace_Bay" {if $data.TZ == "America/Glace_Bay"} selected="selected" {/if}>America/Glace_Bay</option>
<option value="America/Godthab" {if $data.TZ == "America/Godthab"} selected="selected" {/if}>America/Godthab</option>
<option value="America/Goose_Bay" {if $data.TZ == "America/Goose_Bay"} selected="selected" {/if}>America/Goose_Bay</option>
<option value="America/Grand_Turk" {if $data.TZ == "America/Grand_Turk"} selected="selected" {/if}>America/Grand_Turk</option>
<option value="America/Grenada" {if $data.TZ == "America/Grenada"} selected="selected" {/if}>America/Grenada</option>
<option value="America/Guadeloupe" {if $data.TZ == "America/Guadeloupe"} selected="selected" {/if}>America/Guadeloupe</option>
<option value="America/Guatemala" {if $data.TZ == "America/Guatemala"} selected="selected" {/if}>America/Guatemala</option>
<option value="America/Guayaquil" {if $data.TZ == "America/Guayaquil"} selected="selected" {/if}>America/Guayaquil</option>
<option value="America/Guyana" {if $data.TZ == "America/Guyana"} selected="selected" {/if}>America/Guyana</option>
<option value="America/Halifax" {if $data.TZ == "America/Halifax"} selected="selected" {/if}>America/Halifax</option>
<option value="America/Havana" {if $data.TZ == "America/Havana"} selected="selected" {/if}>America/Havana</option>
<option value="America/Hermosillo" {if $data.TZ == "America/Hermosillo"} selected="selected" {/if}>America/Hermosillo</option>
<option value="America/Indiana/Indianapolis" {if $data.TZ == "America/Indiana/Indianapolis"} selected="selected" {/if}>America/Indiana/Indianapolis</option>
<option value="America/Indiana/Knox" {if $data.TZ == "America/Indiana/Knox"} selected="selected" {/if}>America/Indiana/Knox</option>
<option value="America/Indiana/Marengo" {if $data.TZ == "America/Indiana/Marengo"} selected="selected" {/if}>America/Indiana/Marengo</option>
<option value="America/Indiana/Petersburg" {if $data.TZ == "America/Indiana/Petersburg"} selected="selected" {/if}>America/Indiana/Petersburg</option>
<option value="America/Indiana/Tell_City" {if $data.TZ == "America/Indiana/Tell_City"} selected="selected" {/if}>America/Indiana/Tell_City</option>
<option value="America/Indiana/Vevay" {if $data.TZ == "America/Indiana/Vevay"} selected="selected" {/if}>America/Indiana/Vevay</option>
<option value="America/Indiana/Vincennes" {if $data.TZ == "America/Indiana/Vincennes"} selected="selected" {/if}>America/Indiana/Vincennes</option>
<option value="America/Indiana/Winamac" {if $data.TZ == "America/Indiana/Winamac"} selected="selected" {/if}>America/Indiana/Winamac</option>
<option value="America/Inuvik" {if $data.TZ == "America/Inuvik"} selected="selected" {/if}>America/Inuvik</option>
<option value="America/Iqaluit" {if $data.TZ == "America/Iqaluit"} selected="selected" {/if}>America/Iqaluit</option>
<option value="America/Jamaica" {if $data.TZ == "America/Jamaica"} selected="selected" {/if}>America/Jamaica</option>
<option value="America/Juneau" {if $data.TZ == "America/Juneau"} selected="selected" {/if}>America/Juneau</option>
<option value="America/Kentucky/Louisville" {if $data.TZ == "America/Kentucky/Louisville"} selected="selected" {/if}>America/Kentucky/Louisville</option>
<option value="America/Kentucky/Monticello" {if $data.TZ == "America/Kentucky/Monticello"} selected="selected" {/if}>America/Kentucky/Monticello</option>
<option value="America/La_Paz" {if $data.TZ == "America/La_Paz"} selected="selected" {/if}>America/La_Paz</option>
<option value="America/Lima" {if $data.TZ == "America/Lima"} selected="selected" {/if}>America/Lima</option>
<option value="America/Los_Angeles" {if $data.TZ == "America/Los_Angeles"} selected="selected" {/if}>America/Los_Angeles</option>
<option value="America/Maceio" {if $data.TZ == "America/Maceio"} selected="selected" {/if}>America/Maceio</option>
<option value="America/Managua" {if $data.TZ == "America/Managua"} selected="selected" {/if}>America/Managua</option>
<option value="America/Manaus" {if $data.TZ == "America/Manaus"} selected="selected" {/if}>America/Manaus</option>
<option value="America/Marigot" {if $data.TZ == "America/Marigot"} selected="selected" {/if}>America/Marigot</option>
<option value="America/Martinique" {if $data.TZ == "America/Martinique"} selected="selected" {/if}>America/Martinique</option>
<option value="America/Matamoros" {if $data.TZ == "America/Matamoros"} selected="selected" {/if}>America/Matamoros</option>
<option value="America/Mazatlan" {if $data.TZ == "America/Mazatlan"} selected="selected" {/if}>America/Mazatlan</option>
<option value="America/Menominee" {if $data.TZ == "America/Menominee"} selected="selected" {/if}>America/Menominee</option>
<option value="America/Merida" {if $data.TZ == "America/Merida"} selected="selected" {/if}>America/Merida</option>
<option value="America/Mexico_City" {if $data.TZ == "America/Mexico_City"} selected="selected" {/if}>America/Mexico_City</option>
<option value="America/Miquelon" {if $data.TZ == "America/Miquelon"} selected="selected" {/if}>America/Miquelon</option>
<option value="America/Moncton" {if $data.TZ == "America/Moncton"} selected="selected" {/if}>America/Moncton</option>
<option value="America/Monterrey" {if $data.TZ == "America/Monterrey"} selected="selected" {/if}>America/Monterrey</option>
<option value="America/Montevideo" {if $data.TZ == "America/Montevideo"} selected="selected" {/if}>America/Montevideo</option>
<option value="America/Montreal" {if $data.TZ == "America/Montreal"} selected="selected" {/if}>America/Montreal</option>
<option value="America/Montserrat" {if $data.TZ == "America/Montserrat"} selected="selected" {/if}>America/Montserrat</option>
<option value="America/Nassau" {if $data.TZ == "America/Nassau"} selected="selected" {/if}>America/Nassau</option>
<option value="America/New_York" {if $data}{if $data.TZ == "America/New_York"} selected="selected" {/if}{else} selected="selected"{/if}>America/New_York</option>
<option value="America/Nipigon" {if $data.TZ == "America/Nipigon"} selected="selected" {/if}>America/Nipigon</option>
<option value="America/Nome" {if $data.TZ == "America/Nome"} selected="selected" {/if}>America/Nome</option>
<option value="America/Noronha" {if $data.TZ == "America/Noronha"} selected="selected" {/if}>America/Noronha</option>
<option value="America/North_Dakota/Center" {if $data.TZ == "America/North_Dakota/Center"} selected="selected" {/if}>America/North_Dakota/Center</option>
<option value="America/North_Dakota/New_Salem" {if $data.TZ == "America/North_Dakota/New_Salem"} selected="selected" {/if}>America/North_Dakota/New_Salem</option>
<option value="America/Ojinaga" {if $data.TZ == "America/Ojinaga"} selected="selected" {/if}>America/Ojinaga</option>
<option value="America/Panama" {if $data.TZ == "America/Panama"} selected="selected" {/if}>America/Panama</option>
<option value="America/Pangnirtung" {if $data.TZ == "America/Pangnirtung"} selected="selected" {/if}>America/Pangnirtung</option>
<option value="America/Paramaribo" {if $data.TZ == "America/Paramaribo"} selected="selected" {/if}>America/Paramaribo</option>
<option value="America/Phoenix" {if $data.TZ == "America/Phoenix"} selected="selected" {/if}>America/Phoenix</option>
<option value="America/Port-au-Prince" {if $data.TZ == "America/Port-au-Prince"} selected="selected" {/if}>America/Port-au-Prince</option>
<option value="America/Port_of_Spain" {if $data.TZ == "America/Port_of_Spain"} selected="selected" {/if}>America/Port_of_Spain</option>
<option value="America/Porto_Velho" {if $data.TZ == "America/Porto_Velho"} selected="selected" {/if}>America/Porto_Velho</option>
<option value="America/Puerto_Rico" {if $data.TZ == "America/Puerto_Rico"} selected="selected" {/if}>America/Puerto_Rico</option>
<option value="America/Rainy_River" {if $data.TZ == "America/Rainy_River"} selected="selected" {/if}>America/Rainy_River</option>
<option value="America/Rankin_Inlet" {if $data.TZ == "America/Rankin_Inlet"} selected="selected" {/if}>America/Rankin_Inlet</option>
<option value="America/Recife" {if $data.TZ == "America/Recife"} selected="selected" {/if}>America/Recife</option>
<option value="America/Regina" {if $data.TZ == "America/Regina"} selected="selected" {/if}>America/Regina</option>
<option value="America/Resolute" {if $data.TZ == "America/Resolute"} selected="selected" {/if}>America/Resolute</option>
<option value="America/Rio_Branco" {if $data.TZ == "America/Rio_Branco"} selected="selected" {/if}>America/Rio_Branco</option>
<option value="America/Santa_Isabel" {if $data.TZ == "America/Santa_Isabel"} selected="selected" {/if}>America/Santa_Isabel</option>
<option value="America/Santarem" {if $data.TZ == "America/Santarem"} selected="selected" {/if}>America/Santarem</option>
<option value="America/Santiago" {if $data.TZ == "America/Santiago"} selected="selected" {/if}>America/Santiago</option>
<option value="America/Santo_Domingo" {if $data.TZ == "America/Santo_Domingo"} selected="selected" {/if}>America/Santo_Domingo</option>
<option value="America/Sao_Paulo" {if $data.TZ == "America/Sao_Paulo"} selected="selected" {/if}>America/Sao_Paulo</option>
<option value="America/Scoresbysund" {if $data.TZ == "America/Scoresbysund"} selected="selected" {/if}>America/Scoresbysund</option>
<option value="America/Shiprock" {if $data.TZ == "America/Shiprock"} selected="selected" {/if}>America/Shiprock</option>
<option value="America/St_Barthelemy" {if $data.TZ == "America/St_Barthelemy"} selected="selected" {/if}>America/St_Barthelemy</option>
<option value="America/St_Johns" {if $data.TZ == "America/St_Johns"} selected="selected" {/if}>America/St_Johns</option>
<option value="America/St_Kitts" {if $data.TZ == "America/St_Kitts"} selected="selected" {/if}>America/St_Kitts</option>
<option value="America/St_Lucia" {if $data.TZ == "America/St_Lucia"} selected="selected" {/if}>America/St_Lucia</option>
<option value="America/St_Thomas" {if $data.TZ == "America/St_Thomas"} selected="selected" {/if}>America/St_Thomas</option>
<option value="America/St_Vincent" {if $data.TZ == "America/St_Vincent"} selected="selected" {/if}>America/St_Vincent</option>
<option value="America/Swift_Current" {if $data.TZ == "America/Swift_Current"} selected="selected" {/if}>America/Swift_Current</option>
<option value="America/Tegucigalpa" {if $data.TZ == "America/Tegucigalpa"} selected="selected" {/if}>America/Tegucigalpa</option>
<option value="America/Thule" {if $data.TZ == "America/Thule"} selected="selected" {/if}>America/Thule</option>
<option value="America/Thunder_Bay" {if $data.TZ == "America/Thunder_Bay"} selected="selected" {/if}>America/Thunder_Bay</option>
<option value="America/Tijuana" {if $data.TZ == "America/Tijuana"} selected="selected" {/if}>America/Tijuana</option>
<option value="America/Toronto" {if $data.TZ == "America/Toronto"} selected="selected" {/if}>America/Toronto</option>
<option value="America/Tortola" {if $data.TZ == "America/Tortola"} selected="selected" {/if}>America/Tortola</option>
<option value="America/Vancouver" {if $data.TZ == "America/Vancouver"} selected="selected" {/if}>America/Vancouver</option>
<option value="America/Whitehorse" {if $data.TZ == "America/Whitehorse"} selected="selected" {/if}>America/Whitehorse</option>
<option value="America/Winnipeg" {if $data.TZ == "America/Winnipeg"} selected="selected" {/if}>America/Winnipeg</option>
<option value="America/Yakutat" {if $data.TZ == "America/Yakutat"} selected="selected" {/if}>America/Yakutat</option>
<option value="America/Yellowknife" {if $data.TZ == "America/Yellowknife"} selected="selected" {/if}>America/Yellowknife</option>
<option value="Antarctica/Casey" {if $data.TZ == "Antarctica/Casey"} selected="selected" {/if}>Antarctica/Casey</option>
<option value="Antarctica/Davis" {if $data.TZ == "Antarctica/Davis"} selected="selected" {/if}>Antarctica/Davis</option>
<option value="Antarctica/DumontDUrville" {if $data.TZ == "Antarctica/DumontDUrville"} selected="selected" {/if}>Antarctica/DumontDUrville</option>
<option value="Antarctica/Mawson" {if $data.TZ == "Antarctica/Mawson"} selected="selected" {/if}>Antarctica/Mawson</option>
<option value="Antarctica/McMurdo" {if $data.TZ == "Antarctica/McMurdo"} selected="selected" {/if}>Antarctica/McMurdo</option>
<option value="Antarctica/Palmer" {if $data.TZ == "Antarctica/Palmer"} selected="selected" {/if}>Antarctica/Palmer</option>
<option value="Antarctica/Rothera" {if $data.TZ == "Antarctica/Rothera"} selected="selected" {/if}>Antarctica/Rothera</option>
<option value="Antarctica/South_Pole" {if $data.TZ == "Antarctica/South_Pole"} selected="selected" {/if}>Antarctica/South_Pole</option>
<option value="Antarctica/Syowa" {if $data.TZ == "Antarctica/Syowa"} selected="selected" {/if}>Antarctica/Syowa</option>
<option value="Antarctica/Vostok" {if $data.TZ == "Antarctica/Vostok"} selected="selected" {/if}>Antarctica/Vostok</option>
<option value="Arctic/Longyearbyen" {if $data.TZ == "Arctic/Longyearbyen"} selected="selected" {/if}>Arctic/Longyearbyen</option>
<option value="Asia/Aden" {if $data.TZ == "Asia/Aden"} selected="selected" {/if}>Asia/Aden</option>
<option value="Asia/Almaty" {if $data.TZ == "Asia/Almaty"} selected="selected" {/if}>Asia/Almaty</option>
<option value="Asia/Amman" {if $data.TZ == "Asia/Amman"} selected="selected" {/if}>Asia/Amman</option>
<option value="Asia/Anadyr" {if $data.TZ == "Asia/Anadyr"} selected="selected" {/if}>Asia/Anadyr</option>
<option value="Asia/Aqtau" {if $data.TZ == "Asia/Aqtau"} selected="selected" {/if}>Asia/Aqtau</option>
<option value="Asia/Aqtobe" {if $data.TZ == "Asia/Aqtobe"} selected="selected" {/if}>Asia/Aqtobe</option>
<option value="Asia/Ashgabat" {if $data.TZ == "Asia/Ashgabat"} selected="selected" {/if}>Asia/Ashgabat</option>
<option value="Asia/Baghdad" {if $data.TZ == "Asia/Baghdad"} selected="selected" {/if}>Asia/Baghdad</option>
<option value="Asia/Bahrain" {if $data.TZ == "Asia/Bahrain"} selected="selected" {/if}>Asia/Bahrain</option>
<option value="Asia/Baku" {if $data.TZ == "Asia/Baku"} selected="selected" {/if}>Asia/Baku</option>
<option value="Asia/Bangkok" {if $data.TZ == "Asia/Bangkok"} selected="selected" {/if}>Asia/Bangkok</option>
<option value="Asia/Beirut" {if $data.TZ == "Asia/Beirut"} selected="selected" {/if}>Asia/Beirut</option>
<option value="Asia/Bishkek" {if $data.TZ == "Asia/Bishkek"} selected="selected" {/if}>Asia/Bishkek</option>
<option value="Asia/Brunei" {if $data.TZ == "Asia/Brunei"} selected="selected" {/if}>Asia/Brunei</option>
<option value="Asia/Choibalsan" {if $data.TZ == "Asia/Choibalsan"} selected="selected" {/if}>Asia/Choibalsan</option>
<option value="Asia/Chongqing" {if $data.TZ == "Asia/Chongqing"} selected="selected" {/if}>Asia/Chongqing</option>
<option value="Asia/Colombo" {if $data.TZ == "Asia/Colombo"} selected="selected" {/if}>Asia/Colombo</option>
<option value="Asia/Damascus" {if $data.TZ == "Asia/Damascus"} selected="selected" {/if}>Asia/Damascus</option>
<option value="Asia/Dhaka" {if $data.TZ == "Asia/Dhaka"} selected="selected" {/if}>Asia/Dhaka</option>
<option value="Asia/Dili" {if $data.TZ == "Asia/Dili"} selected="selected" {/if}>Asia/Dili</option>
<option value="Asia/Dubai" {if $data.TZ == "Asia/Dubai"} selected="selected" {/if}>Asia/Dubai</option>
<option value="Asia/Dushanbe" {if $data.TZ == "Asia/Dushanbe"} selected="selected" {/if}>Asia/Dushanbe</option>
<option value="Asia/Gaza" {if $data.TZ == "Asia/Gaza"} selected="selected" {/if}>Asia/Gaza</option>
<option value="Asia/Harbin" {if $data.TZ == "Asia/Harbin"} selected="selected" {/if}>Asia/Harbin</option>
<option value="Asia/Ho_Chi_Minh" {if $data.TZ == "Asia/Ho_Chi_Minh"} selected="selected" {/if}>Asia/Ho_Chi_Minh</option>
<option value="Asia/Hong_Kong" {if $data.TZ == "Asia/Hong_Kong"} selected="selected" {/if}>Asia/Hong_Kong</option>
<option value="Asia/Hovd" {if $data.TZ == "Asia/Hovd"} selected="selected" {/if}>Asia/Hovd</option>
<option value="Asia/Irkutsk" {if $data.TZ == "Asia/Irkutsk"} selected="selected" {/if}>Asia/Irkutsk</option>
<option value="Asia/Jakarta" {if $data.TZ == "Asia/Jakarta"} selected="selected" {/if}>Asia/Jakarta</option>
<option value="Asia/Jayapura" {if $data.TZ == "Asia/Jayapura"} selected="selected" {/if}>Asia/Jayapura</option>
<option value="Asia/Jerusalem" {if $data.TZ == "Asia/Jerusalem"} selected="selected" {/if}>Asia/Jerusalem</option>
<option value="Asia/Kabul" {if $data.TZ == "Asia/Kabul"} selected="selected" {/if}>Asia/Kabul</option>
<option value="Asia/Kamchatka" {if $data.TZ == "Asia/Kamchatka"} selected="selected" {/if}>Asia/Kamchatka</option>
<option value="Asia/Karachi" {if $data.TZ == "Asia/Karachi"} selected="selected" {/if}>Asia/Karachi</option>
<option value="Asia/Kashgar" {if $data.TZ == "Asia/Kashgar"} selected="selected" {/if}>Asia/Kashgar</option>
<option value="Asia/Kathmandu" {if $data.TZ == "Asia/Kathmandu"} selected="selected" {/if}>Asia/Kathmandu</option>
<option value="Asia/Kolkata" {if $data.TZ == "Asia/Kolkata"} selected="selected" {/if}>Asia/Kolkata</option>
<option value="Asia/Krasnoyarsk" {if $data.TZ == "Asia/Krasnoyarsk"} selected="selected" {/if}>Asia/Krasnoyarsk</option>
<option value="Asia/Kuala_Lumpur" {if $data.TZ == "Asia/Kuala_Lumpur"} selected="selected" {/if}>Asia/Kuala_Lumpur</option>
<option value="Asia/Kuching" {if $data.TZ == "Asia/Kuching"} selected="selected" {/if}>Asia/Kuching</option>
<option value="Asia/Kuwait" {if $data.TZ == "Asia/Kuwait"} selected="selected" {/if}>Asia/Kuwait</option>
<option value="Asia/Macau" {if $data.TZ == "Asia/Macau"} selected="selected" {/if}>Asia/Macau</option>
<option value="Asia/Magadan" {if $data.TZ == "Asia/Magadan"} selected="selected" {/if}>Asia/Magadan</option>
<option value="Asia/Makassar" {if $data.TZ == "Asia/Makassar"} selected="selected" {/if}>Asia/Makassar</option>
<option value="Asia/Manila" {if $data.TZ == "Asia/Manila"} selected="selected" {/if}>Asia/Manila</option>
<option value="Asia/Muscat" {if $data.TZ == "Asia/Muscat"} selected="selected" {/if}>Asia/Muscat</option>
<option value="Asia/Nicosia" {if $data.TZ == "Asia/Nicosia"} selected="selected" {/if}>Asia/Nicosia</option>
<option value="Asia/Novokuznetsk" {if $data.TZ == "Asia/Novokuznetsk"} selected="selected" {/if}>Asia/Novokuznetsk</option>
<option value="Asia/Novosibirsk" {if $data.TZ == "Asia/Novosibirsk"} selected="selected" {/if}>Asia/Novosibirsk</option>
<option value="Asia/Omsk" {if $data.TZ == "Asia/Omsk"} selected="selected" {/if}>Asia/Omsk</option>
<option value="Asia/Oral" {if $data.TZ == "Asia/Oral"} selected="selected" {/if}>Asia/Oral</option>
<option value="Asia/Phnom_Penh" {if $data.TZ == "Asia/Phnom_Penh"} selected="selected" {/if}>Asia/Phnom_Penh</option>
<option value="Asia/Pontianak" {if $data.TZ == "Asia/Pontianak"} selected="selected" {/if}>Asia/Pontianak</option>
<option value="Asia/Pyongyang" {if $data.TZ == "Asia/Pyongyang"} selected="selected" {/if}>Asia/Pyongyang</option>
<option value="Asia/Qatar" {if $data.TZ == "Asia/Qatar"} selected="selected" {/if}>Asia/Qatar</option>
<option value="Asia/Qyzylorda" {if $data.TZ == "Asia/Qyzylorda"} selected="selected" {/if}>Asia/Qyzylorda</option>
<option value="Asia/Rangoon" {if $data.TZ == "Asia/Rangoon"} selected="selected" {/if}>Asia/Rangoon</option>
<option value="Asia/Riyadh" {if $data.TZ == "Asia/Riyadh"} selected="selected" {/if}>Asia/Riyadh</option>
<option value="Asia/Sakhalin" {if $data.TZ == "Asia/Sakhalin"} selected="selected" {/if}>Asia/Sakhalin</option>
<option value="Asia/Samarkand" {if $data.TZ == "Asia/Samarkand"} selected="selected" {/if}>Asia/Samarkand</option>
<option value="Asia/Seoul" {if $data.TZ == "Asia/Seoul"} selected="selected" {/if}>Asia/Seoul</option>
<option value="Asia/Shanghai" {if $data.TZ == "Asia/Shanghai"} selected="selected" {/if}>Asia/Shanghai</option>
<option value="Asia/Singapore" {if $data.TZ == "Asia/Singapore"} selected="selected" {/if}>Asia/Singapore</option>
<option value="Asia/Taipei" {if $data.TZ == "Asia/Taipei"} selected="selected" {/if}>Asia/Taipei</option>
<option value="Asia/Tashkent" {if $data.TZ == "Asia/Tashkent"} selected="selected" {/if}>Asia/Tashkent</option>
<option value="Asia/Tbilisi" {if $data.TZ == "Asia/Tbilisi"} selected="selected" {/if}>Asia/Tbilisi</option>
<option value="Asia/Tehran" {if $data.TZ == "Asia/Tehran"} selected="selected" {/if}>Asia/Tehran</option>
<option value="Asia/Thimphu" {if $data.TZ == "Asia/Thimphu"} selected="selected" {/if}>Asia/Thimphu</option>
<option value="Asia/Tokyo" {if $data.TZ == "Asia/Tokyo"} selected="selected" {/if}>Asia/Tokyo</option>
<option value="Asia/Ulaanbaatar" {if $data.TZ == "Asia/Ulaanbaatar"} selected="selected" {/if}>Asia/Ulaanbaatar</option>
<option value="Asia/Urumqi" {if $data.TZ == "Asia/Urumqi"} selected="selected" {/if}>Asia/Urumqi</option>
<option value="Asia/Vientiane" {if $data.TZ == "Asia/Vientiane"} selected="selected" {/if}>Asia/Vientiane</option>
<option value="Asia/Vladivostok" {if $data.TZ == "Asia/Vladivostok"} selected="selected" {/if}>Asia/Vladivostok</option>
<option value="Asia/Yakutsk" {if $data.TZ == "Asia/Yakutsk"} selected="selected" {/if}>Asia/Yakutsk</option>
<option value="Asia/Yekaterinburg" {if $data.TZ == "Asia/Yekaterinburg"} selected="selected" {/if}>Asia/Yekaterinburg</option>
<option value="Asia/Yerevan" {if $data.TZ == "Asia/Yerevan"} selected="selected" {/if}>Asia/Yerevan</option>
<option value="Atlantic/Azores" {if $data.TZ == "Atlantic/Azores"} selected="selected" {/if}>Atlantic/Azores</option>
<option value="Atlantic/Bermuda" {if $data.TZ == "Atlantic/Bermuda"} selected="selected" {/if}>Atlantic/Bermuda</option>
<option value="Atlantic/Canary" {if $data.TZ == "Atlantic/Canary"} selected="selected" {/if}>Atlantic/Canary</option>
<option value="Atlantic/Cape_Verde" {if $data.TZ == "Atlantic/Cape_Verde"} selected="selected" {/if}>Atlantic/Cape_Verde</option>
<option value="Atlantic/Faroe" {if $data.TZ == "Atlantic/Faroe"} selected="selected" {/if}>Atlantic/Faroe</option>
<option value="Atlantic/Madeira" {if $data.TZ == "Atlantic/Madeira"} selected="selected" {/if}>Atlantic/Madeira</option>
<option value="Atlantic/Reykjavik" {if $data.TZ == "Atlantic/Reykjavik"} selected="selected" {/if}>Atlantic/Reykjavik</option>
<option value="Atlantic/South_Georgia" {if $data.TZ == "Atlantic/South_Georgia"} selected="selected" {/if}>Atlantic/South_Georgia</option>
<option value="Atlantic/Stanley" {if $data.TZ == "Atlantic/Stanley"} selected="selected" {/if}>Atlantic/Stanley</option>
<option value="Atlantic/St_Helena" {if $data.TZ == "Atlantic/St_Helena"} selected="selected" {/if}>Atlantic/St_Helena</option>
<option value="Australia/Adelaide" {if $data.TZ == "Australia/Adelaide"} selected="selected" {/if}>Australia/Adelaide</option>
<option value="Australia/Brisbane" {if $data.TZ == "Australia/Brisbane"} selected="selected" {/if}>Australia/Brisbane</option>
<option value="Australia/Broken_Hill" {if $data.TZ == "Australia/Broken_Hill"} selected="selected" {/if}>Australia/Broken_Hill</option>
<option value="Australia/Currie" {if $data.TZ == "Australia/Currie"} selected="selected" {/if}>Australia/Currie</option>
<option value="Australia/Darwin" {if $data.TZ == "Australia/Darwin"} selected="selected" {/if}>Australia/Darwin</option>
<option value="Australia/Eucla" {if $data.TZ == "Australia/Eucla"} selected="selected" {/if}>Australia/Eucla</option>
<option value="Australia/Hobart" {if $data.TZ == "Australia/Hobart"} selected="selected" {/if}>Australia/Hobart</option>
<option value="Australia/Lindeman" {if $data.TZ == "Australia/Lindeman"} selected="selected" {/if}>Australia/Lindeman</option>
<option value="Australia/Lord_Howe" {if $data.TZ == "Australia/Lord_Howe"} selected="selected" {/if}>Australia/Lord_Howe</option>
<option value="Australia/Melbourne" {if $data.TZ == "Australia/Melbourne"} selected="selected" {/if}>Australia/Melbourne</option>
<option value="Australia/Perth" {if $data.TZ == "Australia/Perth"} selected="selected" {/if}>Australia/Perth</option>
<option value="Australia/Sydney" {if $data.TZ == "Australia/Sydney"} selected="selected" {/if}>Australia/Sydney</option>
<option value="Europe/Amsterdam" {if $data.TZ == "Europe/Amsterdam"} selected="selected" {/if}>Europe/Amsterdam</option>
<option value="Europe/Andorra" {if $data.TZ == "Europe/Andorra"} selected="selected" {/if}>Europe/Andorra</option>
<option value="Europe/Athens" {if $data.TZ == "Europe/Athens"} selected="selected" {/if}>Europe/Athens</option>
<option value="Europe/Belgrade" {if $data.TZ == "Europe/Belgrade"} selected="selected" {/if}>Europe/Belgrade</option>
<option value="Europe/Berlin" {if $data.TZ == "Europe/Berlin"} selected="selected" {/if}>Europe/Berlin</option>
<option value="Europe/Bratislava" {if $data.TZ == "Europe/Bratislava"} selected="selected" {/if}>Europe/Bratislava</option>
<option value="Europe/Brussels" {if $data.TZ == "Europe/Brussels"} selected="selected" {/if}>Europe/Brussels</option>
<option value="Europe/Bucharest" {if $data.TZ == "Europe/Bucharest"} selected="selected" {/if}>Europe/Bucharest</option>
<option value="Europe/Budapest" {if $data.TZ == "Europe/Budapest"} selected="selected" {/if}>Europe/Budapest</option>
<option value="Europe/Chisinau" {if $data.TZ == "Europe/Chisinau"} selected="selected" {/if}>Europe/Chisinau</option>
<option value="Europe/Copenhagen" {if $data.TZ == "Europe/Copenhagen"} selected="selected" {/if}>Europe/Copenhagen</option>
<option value="Europe/Dublin" {if $data.TZ == "Europe/Dublin"} selected="selected" {/if}>Europe/Dublin</option>
<option value="Europe/Gibraltar" {if $data.TZ == "Europe/Gibraltar"} selected="selected" {/if}>Europe/Gibraltar</option>
<option value="Europe/Guernsey" {if $data.TZ == "Europe/Guernsey"} selected="selected" {/if}>Europe/Guernsey</option>
<option value="Europe/Helsinki" {if $data.TZ == "Europe/Helsinki"} selected="selected" {/if}>Europe/Helsinki</option>
<option value="Europe/Isle_of_Man" {if $data.TZ == "Europe/Isle_of_Man"} selected="selected" {/if}>Europe/Isle_of_Man</option>
<option value="Europe/Istanbul" {if $data.TZ == "Europe/Istanbul"} selected="selected" {/if}>Europe/Istanbul</option>
<option value="Europe/Jersey" {if $data.TZ == "Europe/Jersey"} selected="selected" {/if}>Europe/Jersey</option>
<option value="Europe/Kaliningrad" {if $data.TZ == "Europe/Kaliningrad"} selected="selected" {/if}>Europe/Kaliningrad</option>
<option value="Europe/Kiev" {if $data.TZ == "Europe/Kiev"} selected="selected" {/if}>Europe/Kiev</option>
<option value="Europe/Lisbon" {if $data.TZ == "Europe/Lisbon"} selected="selected" {/if}>Europe/Lisbon</option>
<option value="Europe/Ljubljana" {if $data.TZ == "Europe/Ljubljana"} selected="selected" {/if}>Europe/Ljubljana</option>
<option value="Europe/London" {if $data.TZ == "Europe/London"} selected="selected" {/if}>Europe/London</option>
<option value="Europe/Luxembourg" {if $data.TZ == "Europe/Luxembourg"} selected="selected" {/if}>Europe/Luxembourg</option>
<option value="Europe/Madrid" {if $data.TZ == "Europe/Madrid"} selected="selected" {/if}>Europe/Madrid</option>
<option value="Europe/Malta" {if $data.TZ == "Europe/Malta"} selected="selected" {/if}>Europe/Malta</option>
<option value="Europe/Mariehamn" {if $data.TZ == "Europe/Mariehamn"} selected="selected" {/if}>Europe/Mariehamn</option>
<option value="Europe/Minsk" {if $data.TZ == "Europe/Minsk"} selected="selected" {/if}>Europe/Minsk</option>
<option value="Europe/Monaco" {if $data.TZ == "Europe/Monaco"} selected="selected" {/if}>Europe/Monaco</option>
<option value="Europe/Moscow" {if $data.TZ == "Europe/Moscow"} selected="selected" {/if}>Europe/Moscow</option>
<option value="Europe/Oslo" {if $data.TZ == "Europe/Oslo"} selected="selected" {/if}>Europe/Oslo</option>
<option value="Europe/Paris" {if $data.TZ == "Europe/Paris"} selected="selected" {/if}>Europe/Paris</option>
<option value="Europe/Podgorica" {if $data.TZ == "Europe/Podgorica"} selected="selected" {/if}>Europe/Podgorica</option>
<option value="Europe/Prague" {if $data.TZ == "Europe/Prague"} selected="selected" {/if}>Europe/Prague</option>
<option value="Europe/Riga" {if $data.TZ == "Europe/Riga"} selected="selected" {/if}>Europe/Riga</option>
<option value="Europe/Rome" {if $data.TZ == "Europe/Rome"} selected="selected" {/if}>Europe/Rome</option>
<option value="Europe/Samara" {if $data.TZ == "Europe/Samara"} selected="selected" {/if}>Europe/Samara</option>
<option value="Europe/San_Marino" {if $data.TZ == "Europe/San_Marino"} selected="selected" {/if}>Europe/San_Marino</option>
<option value="Europe/Sarajevo" {if $data.TZ == "Europe/Sarajevo"} selected="selected" {/if}>Europe/Sarajevo</option>
<option value="Europe/Simferopol" {if $data.TZ == "Europe/Simferopol"} selected="selected" {/if}>Europe/Simferopol</option>
<option value="Europe/Skopje" {if $data.TZ == "Europe/Skopje"} selected="selected" {/if}>Europe/Skopje</option>
<option value="Europe/Sofia" {if $data.TZ == "Europe/Sofia"} selected="selected" {/if}>Europe/Sofia</option>
<option value="Europe/Stockholm" {if $data.TZ == "Europe/Stockholm"} selected="selected" {/if}>Europe/Stockholm</option>
<option value="Europe/Tallinn" {if $data.TZ == "Europe/Tallinn"} selected="selected" {/if}>Europe/Tallinn</option>
<option value="Europe/Tirane" {if $data.TZ == "Europe/Tirane"} selected="selected" {/if}>Europe/Tirane</option>
<option value="Europe/Uzhgorod" {if $data.TZ == "Europe/Uzhgorod"} selected="selected" {/if}>Europe/Uzhgorod</option>
<option value="Europe/Vaduz" {if $data.TZ == "Europe/Vaduz"} selected="selected" {/if}>Europe/Vaduz</option>
<option value="Europe/Vatican" {if $data.TZ == "Europe/Vatican"} selected="selected" {/if}>Europe/Vatican</option>
<option value="Europe/Vienna" {if $data.TZ == "Europe/Vienna"} selected="selected" {/if}>Europe/Vienna</option>
<option value="Europe/Vilnius" {if $data.TZ == "Europe/Vilnius"} selected="selected" {/if}>Europe/Vilnius</option>
<option value="Europe/Volgograd" {if $data.TZ == "Europe/Volgograd"} selected="selected" {/if}>Europe/Volgograd</option>
<option value="Europe/Warsaw" {if $data.TZ == "Europe/Warsaw"} selected="selected" {/if}>Europe/Warsaw</option>
<option value="Europe/Zagreb" {if $data.TZ == "Europe/Zagreb"} selected="selected" {/if}>Europe/Zagreb</option>
<option value="Europe/Zaporozhye" {if $data.TZ == "Europe/Zaporozhye"} selected="selected" {/if}>Europe/Zaporozhye</option>
<option value="Europe/Zurich" {if $data.TZ == "Europe/Zurich"} selected="selected" {/if}>Europe/Zurich</option>
<option value="Indian/Antananarivo" {if $data.TZ == "Indian/Antananarivo"} selected="selected" {/if}>Indian/Antananarivo</option>
<option value="Indian/Chagos" {if $data.TZ == "Indian/Chagos"} selected="selected" {/if}>Indian/Chagos</option>
<option value="Indian/Christmas" {if $data.TZ == "Indian/Christmas"} selected="selected" {/if}>Indian/Christmas</option>
<option value="Indian/Cocos" {if $data.TZ == "Indian/Cocos"} selected="selected" {/if}>Indian/Cocos</option>
<option value="Indian/Comoro" {if $data.TZ == "Indian/Comoro"} selected="selected" {/if}>Indian/Comoro</option>
<option value="Indian/Kerguelen" {if $data.TZ == "Indian/Kerguelen"} selected="selected" {/if}>Indian/Kerguelen</option>
<option value="Indian/Mahe" {if $data.TZ == "Indian/Mahe"} selected="selected" {/if}>Indian/Mahe</option>
<option value="Indian/Maldives" {if $data.TZ == "Indian/Maldives"} selected="selected" {/if}>Indian/Maldives</option>
<option value="Indian/Mauritius" {if $data.TZ == "Indian/Mauritius"} selected="selected" {/if}>Indian/Mauritius</option>
<option value="Indian/Mayotte" {if $data.TZ == "Indian/Mayotte"} selected="selected" {/if}>Indian/Mayotte</option>
<option value="Indian/Reunion" {if $data.TZ == "Indian/Reunion"} selected="selected" {/if}>Indian/Reunion</option>
<option value="Pacific/Apia" {if $data.TZ == "Pacific/Apia"} selected="selected" {/if}>Pacific/Apia</option>
<option value="Pacific/Auckland" {if $data.TZ == "Pacific/Auckland"} selected="selected" {/if}>Pacific/Auckland</option>
<option value="Pacific/Chatham" {if $data.TZ == "Pacific/Chatham"} selected="selected" {/if}>Pacific/Chatham</option>
<option value="Pacific/Easter" {if $data.TZ == "Pacific/Easter"} selected="selected" {/if}>Pacific/Easter</option>
<option value="Pacific/Efate" {if $data.TZ == "Pacific/Efate"} selected="selected" {/if}>Pacific/Efate</option>
<option value="Pacific/Enderbury" {if $data.TZ == "Pacific/Enderbury"} selected="selected" {/if}>Pacific/Enderbury</option>
<option value="Pacific/Fakaofo" {if $data.TZ == "Pacific/Fakaofo"} selected="selected" {/if}>Pacific/Fakaofo</option>
<option value="Pacific/Fiji" {if $data.TZ == "Pacific/Fiji"} selected="selected" {/if}>Pacific/Fiji</option>
<option value="Pacific/Funafuti" {if $data.TZ == "Pacific/Funafuti"} selected="selected" {/if}>Pacific/Funafuti</option>
<option value="Pacific/Galapagos" {if $data.TZ == "Pacific/Galapagos"} selected="selected" {/if}>Pacific/Galapagos</option>
<option value="Pacific/Gambier" {if $data.TZ == "Pacific/Gambier"} selected="selected" {/if}>Pacific/Gambier</option>
<option value="Pacific/Guadalcanal" {if $data.TZ == "Pacific/Guadalcanal"} selected="selected" {/if}>Pacific/Guadalcanal</option>
<option value="Pacific/Guam" {if $data.TZ == "Pacific/Guam"} selected="selected" {/if}>Pacific/Guam</option>
<option value="Pacific/Honolulu" {if $data.TZ == "Pacific/Honolulu"} selected="selected" {/if}>Pacific/Honolulu</option>
<option value="Pacific/Johnston" {if $data.TZ == "Pacific/Johnston"} selected="selected" {/if}>Pacific/Johnston</option>
<option value="Pacific/Kiritimati" {if $data.TZ == "Pacific/Kiritimati"} selected="selected" {/if}>Pacific/Kiritimati</option>
<option value="Pacific/Kosrae" {if $data.TZ == "Pacific/Kosrae"} selected="selected" {/if}>Pacific/Kosrae</option>
<option value="Pacific/Kwajalein" {if $data.TZ == "Pacific/Kwajalein"} selected="selected" {/if}>Pacific/Kwajalein</option>
<option value="Pacific/Majuro" {if $data.TZ == "Pacific/Majuro"} selected="selected" {/if}>Pacific/Majuro</option>
<option value="Pacific/Marquesas" {if $data.TZ == "Pacific/Marquesas"} selected="selected" {/if}>Pacific/Marquesas</option>
<option value="Pacific/Midway" {if $data.TZ == "Pacific/Midway"} selected="selected" {/if}>Pacific/Midway</option>
<option value="Pacific/Nauru" {if $data.TZ == "Pacific/Nauru"} selected="selected" {/if}>Pacific/Nauru</option>
<option value="Pacific/Niue" {if $data.TZ == "Pacific/Niue"} selected="selected" {/if}>Pacific/Niue</option>
<option value="Pacific/Norfolk" {if $data.TZ == "Pacific/Norfolk"} selected="selected" {/if}>Pacific/Norfolk</option>
<option value="Pacific/Noumea" {if $data.TZ == "Pacific/Noumea"} selected="selected" {/if}>Pacific/Noumea</option>
<option value="Pacific/Pago_Pago" {if $data.TZ == "Pacific/Pago_Pago"} selected="selected" {/if}>Pacific/Pago_Pago</option>
<option value="Pacific/Palau" {if $data.TZ == "Pacific/Palau"} selected="selected" {/if}>Pacific/Palau</option>
<option value="Pacific/Pitcairn" {if $data.TZ == "Pacific/Pitcairn"} selected="selected" {/if}>Pacific/Pitcairn</option>
<option value="Pacific/Ponape" {if $data.TZ == "Pacific/Ponape"} selected="selected" {/if}>Pacific/Ponape</option>
<option value="Pacific/Port_Moresby" {if $data.TZ == "Pacific/Port_Moresby"} selected="selected" {/if}>Pacific/Port_Moresby</option>
<option value="Pacific/Rarotonga" {if $data.TZ == "Pacific/Rarotonga"} selected="selected" {/if}>Pacific/Rarotonga</option>
<option value="Pacific/Saipan" {if $data.TZ == "Pacific/Saipan"} selected="selected" {/if}>Pacific/Saipan</option>
<option value="Pacific/Tahiti" {if $data.TZ == "Pacific/Tahiti"} selected="selected" {/if}>Pacific/Tahiti</option>
<option value="Pacific/Tarawa" {if $data.TZ == "Pacific/Tarawa"} selected="selected" {/if}>Pacific/Tarawa</option>
<option value="Pacific/Tongatapu" {if $data.TZ == "Pacific/Tongatapu"} selected="selected" {/if}>Pacific/Tongatapu</option>
<option value="Pacific/Truk" {if $data.TZ == "Pacific/Truk"} selected="selected" {/if}>Pacific/Truk</option>
<option value="Pacific/Wake" {if $data.TZ == "Pacific/Wake"} selected="selected" {/if}>Pacific/Wake</option>
<option value="Pacific/Wallis" {if $data.TZ == "Pacific/Wallis"} selected="selected" {/if}>Pacific/Wallis</option>
</select><br />
<input type="submit" value="Save" />
</form>
</div>