/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body {
	margin: 0;
	padding: 0;
	background: #ffffff url("images/img01.jpg") repeat-x left top;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #66665e;
}

h1,h2,h3 {
	margin: 0;
	font-family: "trebuchet ms", georgia, "times new roman", times, serif;
	font-weight: normal;
	color: #4b8749;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 18px;
}

h3 {
	
}

p,ul,ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul,ol {
	
}

blockquote {
	
}

a {
	color: #41ace7;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr {
	border: none;
	border-top: 1px dashed #bbbbbb;
	margin: 20px 0;
}

.list1 {
	
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

#loginwrapper {
	position: absolute;
	top: 0;
	right: 20px;
}

#loginwrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#loginwrapper ul li {
	display: inline;
	vertical-align: middle;
	color: #ffffff;
	padding-left: 5px;
}

/* Header */
#header-wrapper {
	
}

#header {
	width: 1000px;
	height: 64px;
	margin: 0 auto;
	background: url("images/img02.jpg") no-repeat left top;
}

/* Menu */
#menu {
	float: left;
	width: 540px;
	height: 64px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 20px;
	margin-right: 3px;
	padding: 28px 25px 15px 25px;
	background: url("images/img07.jpg") no-repeat left 32px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .current_page_item a {
	height: 20px;
	color: #ffffff;
}

#menu .first {
	background: none;
}

/* Search */
#search {
	float: right;
	width: 305px;
	height: 50px;
}

#search form {
	float: right;
	margin: 0;
	padding: 25px 20px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px georgia, "times new roman", times, serif;
	border: none;
}

#search-text {
	width: 135px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ecf9e4;
	color: #000000;
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #000000;
	color: #ffffff;
}

/* Page */
#page {
	width: 1000px;
	margin: 0 auto;
	background: url("images/img04.jpg") repeat-y left top;
}

#page-bgtop {
	padding-top: 30px;
	background: url("images/img03.jpg") no-repeat left top;
}

/** LOGO */
#logo {
	width: 960px;
	height: 170px;
	margin: 0 auto;
	font-family: 'trebuchet ms', arial, sans-serif;
}

#logo h1,#logo p {
	margin: 0px;
	line-height: normal;
}

#logo p {
	margin-top: -10px;
	font-size: 13px;
	color: #639cbf;
	font-weight: bold;
}

#logo h1 {
	padding-top: 90px;
	font-size: 48px;
	color: #ffffff;
	font-weight: normal;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

/* Content */
#content {
	float: right;
	width: 738px;
	padding-top: 20px;
	padding-right: 40px;
}

/* Post */
.post {
	margin-bottom: 25px;
}

.post .title {
	height: 30px;
	color: #42423e;
}

.post .title a {
	text-decoration: none;
	color: #42423e;
}

.post .date {
	
}

.post .meta {
	margin-top: -10px;
	padding: 2px 30px 2px 16px;
	background: url("images/img08.jpg") no-repeat left 10px;
	border-bottom: 1px #bdbdbb dotted;
	font-family: arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665e;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a {
	
}

.post .entry {
	padding: 10px 0;
}

.post .links {
	margin: 0 250px 0 0;
	padding: 0 0 0 0px;
}

.post .links .comments {
	
}

.post .links .permalink {
	padding-left: 17px;
}

/* Sidebar */
#sidebar {
	float: left;
	width: 162px;
	padding-left: 22px;
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	
}

#sidebar li li {
	margin: 0 0 0 5px;
	padding-left: 10px;
	background: url("images/img09.jpg") no-repeat left 4px;
}

#sidebar p {
	margin: 0;
	padding: 0px 10px;
}

#sidebar h2 {
	height: 26px;
	margin: 0 0 10px 0px;
	padding: 8px 0 2px 10px;
	background: url("images/img06.jpg") no-repeat left top;
	text-transform: capitalize;
	font-size: 11px;
	font-weight: bold;
	color: #42423e;
}

#sidebar p {
	line-height: 200%;
}

#sidebar a {
	color: #696969;
}

fieldset.single {
	border: 1px solid #cccccc;
	background: #ffffdd;
	padding: 10px;
	margin: 5px 0;
}

fieldset.multiple {
	border: 1px solid #cccccc;
	padding: 10px;
	margin: 5px 0;
}

input.input_button {
	width: 20px;
	height: 20px;
	border: none;
	background: transparent;
	cursor: pointer;
}

input.apply { background: url('images/apply.png') no-repeat; }
input.delete { background: url('images/delete.png') no-repeat; }
input.add { background: url('images/add.png') no-repeat; }
input.reset { background: url('images/reset.png') no-repeat; }

/* Footer */
#footer {
	width: 1000px;
	height: 95px;
	margin: 0 auto;
	padding: 0;
	background: url("images/img05.jpg") no-repeat left top;
}

#footer p {
	margin: 0;
	padding: 56px 0;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
	color: #66665e;
}

#footer a {
	color: #000000;
}

#statusmsg {
	padding: 10px;
	display: none;
	margin-bottom: 10px;
}

.error {
	color: red;
}